* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navback {
  color: #0d48a5;
}

nav {
  padding: 0;
  padding-top: 7px;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: #0d48a5;
}

nav a {
  color: rgb(255, 255, 255);
  margin: 0 2rem;
  text-decoration: none;
}

.navbar {
  background-color: #0d48a5;
  height: 50px;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

.panier {
  padding-top: 20px;
  text-align: center;
}

.resume {
  position: absolute;
  height: 500px;
  width: 60%;
  background-color: #938b8b88;
  opacity: 0.3;
  display: inline-block;
  left: 20px;
  top: 126px;
  box-shadow: 3px 3px 3px black;
}

.tarification {
  z-index: 1;
  position: absolute;
  height: 350px;
  width: 30%;
  background-color: grey;
  opacity: 0.3;
  display: inline-block;
  right: 20px;
  top: 126px;
  box-shadow: 3px 3px 3px black;
}

button {
  position: absolute;
  bottom: 350px;
  right: 150px;
  background-color: #0091ff;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  background-color: #0059ff;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

#prixTotal {
  z-index: 1;
}
