* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  margin-top: 0; /* Add this line to remove default margin */
}

.navback {
  color: #0d48a5;
}

nav {
  padding-top: 7px;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: #0d48a5;
}

nav a {
  color: rgb(255, 255, 255);
  margin: 0 2rem;
  text-decoration: none;
}

#underline {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #0d48a5;
  left: 0;
  bottom: -1rem;
  transition: 0.5s ease;
}

.navbar {
  background-color: #0d48a5;
  height: 50px;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}
