* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.background {
  position: relative;
  height: 100%;
  width: 80%;
  background-color: #938b8b88;
  left: 10%;
}

h1 {
  top: 7%;
  position: absolute;
  width: 100%;
  text-align: center;
}

.username {
  display: block;
  font-size: 3vh;
  padding-top: 12%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.firstName {
  display: block;
  font-size: 3vh;
  padding-top: 14%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.lastName {
  display: block;
  font-size: 3vh;
  padding-top: 16%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.phoneNumber {
  display: block;
  font-size: 3vh;
  padding-top: 18%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.address {
  display: block;
  font-size: 3vh;
  padding-top: 20%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.postalCode {
  display: block;
  font-size: 3vh;
  padding-top: 22%;
  position: absolute;
  width: 100%;
  text-align: center;
}
